@import "../node_modules/material-design-lite/src/material-design-lite";
@import "../node_modules/breakpoint-sass/stylesheets/breakpoint";

$base: #4D7EA8;
$baseLight: #124559; 
$baseDark: #01161E;

$white: #ffffff;
$black: #000000;

$grey: #ECEFF1;
$grey-d: #c5c5c5;

$accent: #ef8914;

$google: #4285f4;
$facebook: #3b579d;


$icon-facebook: "\e900";
$icon-google: "\e901";
$icon-switchaai: "\e902";
$icon-kentorauthservices: "\e902";

